@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	font-family: "Vazirmatn", sans-serif;
}
.container {
	background-color: #2225501f;
	border-radius: 1.5rem;
	padding: 0.01rem 1rem;
	margin: 1rem;
	padding-bottom: 1rem;
}
.question {
	font-size: larger;
}

.answer {
	font-weight: 700;
	font-size: large;
	color: blue;
}

.btn_answer {
	align-items: center;
	background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
	border: 0;
	border-radius: 25px;
	box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
	box-sizing: border-box;
	color: #ffffff;
	display: flex;
	font-size: 1.5rem;
	justify-content: center;
	line-height: 1em;
	max-width: 100%;
	min-width: 140px;
	padding: 0.6rem;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	cursor: pointer;
	/* margin-bottom: 1rem; */
}

.button-63:active,
.button-63:hover {
	outline: 0;
}

@media (min-width: 768px) {
	.button-63 {
		font-size: 24px;
		min-width: 196px;
	}
}

.background_active {
	background-color: #ff00004d;
	border-radius: 1.5rem;
	padding: 0.01rem 1rem;
	margin: 1rem;
	padding-bottom: 1rem;
}
